body {
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
}

h1 {
  font-size: 70px;
  margin-bottom: 0px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 23px;
}

p {
  font-size: 14px;
  font-weight: normal;
}

a,
h1,
#parttwo {
  color: white;
} 

ul {
  list-style-type: none; 
}


#Intro {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#parttwo {

  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

#header li {
  border: 0px;
  margin: -30px;
  padding: 0px;
  height: 74px;
}

#header li a {
  font-size: 18px;
}

#footer {
  float: left;
  background-color: dimgray;
}

#footer ul {
  padding: 0;
  width: 100%;
  margin: 0 100% 0 0;
}


#footer li a,
#footer li {
  font-size: 11px;
  color: white;
  font-weight: bolder;
  float: left;
}

#footer li a {
  padding: 0px 2px 0px 2px; 
}

