body {
  text-align: center;
  font-family: "Helvetica";
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

h1,
h3,
h4 {
  font-weight: bold;
}

li a {
  font-size: 18px;
}

a,
h1,
#parttwo {
  color: white;
} 

ul {
  list-style-type: none; 
}

#Intro,
#parttwo {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

#footer {
  float: left;
  background-color: dimgray;
  text-align: center;
}

#footer ul {
  padding: 0;
  width: 100%;
  margin: 0 100% 0 0;
}


#footer li a,
#footer li {
  font-size: 11px;
  color: white;
  font-weight: bolder;
  float: left;
}

#footer li a {
  padding: 0px 2px 0px 2px; 
}

